* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navContainer {
    background-color: #FBF9FF;
    height: 72px;
    padding: 12px 32px;
}

#photobox {
    display: inline-block;
    width: 40%;
}

#photo {
    vertical-align: middle;
}

#Navigation {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

a {
    margin-left: 20px;
    text-decoration: none;
    color: #323232;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 30%;
}

#contactButton {
    display: inline-block;
    vertical-align: middle;
    border-radius: 8px;
    border: 1px solid #6941C6;
    background: #6941C6;
    padding: 8px 16px;
}

#contact {
    border: none;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: #6941C6;
}

#mainContainer {
    padding: 96px;
    background-color: #F1E8FF;
    width: 1440px;
    margin: 0 auto;
    margin-top: 94px;

}

#paraghrap {
    color: #181D27;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}



#Pricing {
    text-align: center;
}

#freePlan {
    text-align: center;
    margin-top: 20px;
}

#subscription {
    color: #535862;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

#tenMonthBundle {
    padding: 32px 40px;
    background-color: #FFFFFF;
    width: 373px;
    display: inline-block;
    margin-top: 32px;
}

#planButton {
    text-align: center;

}

#basic {
    color: #6941C6;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border: 1px solid #E9D7FE;
    padding: 4px 12px;
    border-radius: 40px;
    background: #F9F5FF;
}

#tenMonths {
    color: black;
    text-align: center;
    margin-top: 16px;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
}

#popularPlan {
    text-align: center;
    margin-top: 8px;
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#getButton {
    text-align: center;
    margin-top: 16px;
    border: 2px solid rgba(255, 255, 255, 0.12);
    background: #7F56D9;
    border-radius: 8px;

}

#started {
    color: #FFF;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background: #7F56D9;
    padding: 12px 18px;

}

#salesButton {
    text-align: center;
    margin-top: 12px;
    border: 1px solid #D5D7DA;
    background: #FFF;
    border-radius: 8px;
}

#sales {
    color: black;
    font-size: 16px;
    font-style: normal;
    font-size: 600;
    border: none;
    background: #FFF;
    padding: 12px 18px;
}

#border {
    height: 1px;
    background: #E9EAEB;
    margin-top: 32px;
}

#basicFeatures {
    margin-top: 33px;

}

#checkBox {
    vertical-align: middle;
}

#allBasicFeatures {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

#basicReporting {
    margin-top: 16px;
}

#reportingAnalytics {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

#analyticscheckbox {
    vertical-align: middle;
}

#individualUsers {
    margin-top: 16px;
}

#usersCheckbox {
    vertical-align: middle;

}

#usersParaghrap {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

#useranalytics {
    margin-top: 16px;
}

#individualUser {
    vertical-align: middle;
}

#twentyUsers {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;


}

#basicSupport {
    margin-top: 16px;

}

#chatAndEmailCheckbox {
    vertical-align: middle;
}

#emailAndChatSupport {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;


}

#twentyDollarBundle {
    padding: 32px 40px;
    background-color: #FFFFFF;
    width: 373px;
    display: inline-block;
    margin-bottom: -41px;
    height: 564px;
    margin-left: 32px;
}

#card {
    padding: 32px 40px;
    background-color: #FFFFFF;
    width: 373px;
    display: inline-block;
    margin-bottom: -41px;
    height: 564px;
    margin-left: 32px;
}

#plan {
    text-align: center;

}

#Business {
    color: #6941C6;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border: 1px solid #E9D7FE;
    padding: 4px 12px;
    border-radius: 40px;
    background: #F9F5FF;

}

#twentyMonths {
    color: black;
    text-align: center;
    margin-top: 16px;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
}

#GrowingTeams {
    text-align: center;
    margin-top: 8px;
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#getButtonn {
    text-align: center;
    margin-top: 16px;
    border: 2px solid rgba(255, 255, 255, 0.12);
    background: #7F56D9;
    border-radius: 8px;

}

#startedd {
    color: #FFF;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background: #7F56D9;
    padding: 12px 18px;

}

#salesButtonn {
    text-align: center;
    margin-top: 12px;
    border: 1px solid #D5D7DA;
    background: #FFF;
    border-radius: 8px;
}

#saless {
    color: black;
    font-size: 16px;
    font-style: normal;
    font-size: 600;
    border: none;
    background: #FFF;
    padding: 12px 18px;

}

#borderr {
    height: 1px;
    background: #E9EAEB;
    margin-top: 32px;
}

#integrations {
    margin-top: 32px;

}

#inegrationss {
    vertical-align: middle;
}

#intergrationsss {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#advanced {
    vertical-align: middle;
}

#reportingAnalytics {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#individualUserss {
    margin-top: 16px;

}

#usersCheckboxs {
    vertical-align: middle;
}

#userssParaghrap {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#dataUser {
    margin-top: 16px;
}

#dataIndividualUser {
    vertical-align: middle;
}

#userData {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#priority {
    margin-top: 16px;
}

#priorityChat {
    vertical-align: middle;
}

#priorityChatAndEmail {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#enterprise {
    color: #6941C6;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border: 1px solid #E9D7FE;
    padding: 4px 12px;
    border-radius: 40px;
    background: #F9F5FF;

}

#fortyMonths {
    color: black;
    text-align: center;
    margin-top: 16px;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;

}

#advancedFeatures {
    text-align: center;
    margin-top: 8px;
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#getButtonnn {
    text-align: center;
    margin-top: 16px;
    border: 2px solid rgba(255, 255, 255, 0.12);
    background: #7F56D9;
    border-radius: 8px;

}

#starteddd {
    color: #FFF;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background: #7F56D9;
    padding: 12px 18px;
}

#salesButtonnn {
    text-align: center;
    margin-top: 12px;
    border: 1px solid #D5D7DA;
    background: #FFF;
    border-radius: 8px;
}

#salesss {
    color: black;
    font-size: 16px;
    font-style: normal;
    font-size: 600;
    border: none;
    background: #FFF;
    padding: 12px 18px;

}

#borderrr {
    height: 1px;
    background: #E9EAEB;
    margin-top: 32px;
}

#custom {
    margin-top: 32px;
}

#customFields {
    vertical-align: middle;
}

#AdvancedCustomFields {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#AuditLog {
    margin-top: 16px;
}

#dataHistory {
    vertical-align: middle;
}

#auditLogAndDataHistory {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#individualUsers {
    margin-top: 16px;
}

#unlimitedUsers {
    vertical-align: middle;
}

#unlimitedIndividualUsers {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#data {
    margin-top: 16px;
}

#unlimitedIndvidual {
    vertical-align: middle;
}

#unlimitedIdividualData {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#priorityy {
    margin-top: 16px;
}

#priorityService {
    vertical-align: middle;
}

#priorityServiceAndPersonalize {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#qAndAcontainer {
    max-width: 1248px;
    width: 100%;
    border-radius: 24px;
    background: #FFF;
    margin-top: 64px;
    padding: 32px 0px;
}

#frequently {
    color: #181D27;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 44px;
}

#productAndBilling {
    color: #535862;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
}

#trialBox {
    margin: 0 auto;
    width: 768px;
    padding: 32px;
    border-radius: 16px;
    background: #E4E4E4;
    text-align: center;
    margin-top: 32px;
}

#check {
    text-align: left;
    vertical-align: middle;
}

#freeTrial {
    display: inline-block;
    vertical-align: middle;
    color: black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#checkcircle {
    vertical-align: middle;
}

#callParaghrap {
    color: #535862;
    margin-top: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 29px;
}

#planBox {
    margin: 0 auto;
    width: 768px;
    padding: 32px;
    border: 2px solid #FF2323;
    border-radius: 16px;
    background: #FFE5E5;
    margin-top: 16px;
}

#circlePhoto {
    vertical-align: middle;
}

#planChange {
    display: inline-block;
    color: #181D27;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    vertical-align: middle;

}

#planChangeGuide {
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 29px;
    margin-top: 8px;
}

#cancellationBox {
    width: 768px;
    margin: 0 auto;
    padding: 32px;
    border-radius: 16px;
    background: #E9D7FF;
    margin-top: 16px;

}

#circleArrow {
    vertical-align: middle;

}

#cancellationPolicy {
    vertical-align: middle;
    display: inline-block;
    color: black;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

}

#cancellationParaghrap {
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 29px;
    margin-top: 8px;
}

#inVoiceBox {
    width: 768px;
    padding: 32px;
    border-radius: 16px;
    background: #F7F4FF;
    margin: 0 auto;
    margin-top: 16px;

}

#arrow {
    vertical-align: middle;
}

#paraghraps {
    vertical-align: middle;
    display: inline-block;
    color: #181D27;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

#additionalnformation {
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 29px;
    margin-top: 8px;
}

#billingBox {
    width: 768px;
    padding: 32px;
    border-radius: 16px;
    border: 4px solid #326DFF;
    background: #DCE6FF;
    margin: 0 auto;
    margin-top: 16px;
}

#arroww {
    vertical-align: middle;
}

#billingWork {
    color: #181D27;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    vertical-align: middle;
    display: inline-block;
}

#companyInformation {
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 29px;
    margin-top: 8px;
}

#emailContainer {
    width: 768px;
    padding: 32px;
    border-radius: 16px;
    background: #FFD5E7;
    margin: 0 auto;
    margin-top: 16px;
}

#circlee {
    vertical-align: middle;
}

#changeEmail {
    color: #181D27;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    vertical-align: middle;
    display: inline-block;

}

#changeAccount {
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 29px;
    margin-top: 8px;

}

#reviewContainer {
    padding: 32px 0px;
    max-width: 1248px;
    width: 100%;
    border-radius: 24px;
    background: #FFF;
    margin-top: 64px;
}

#review {
    color: #181D27;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;

}

#fistHandCostumers {
    color: #535862;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

#siennaHewitBox {
    max-width: 580px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #E9EAEB;
    background: #FFF;
    margin-top: 64px;
    margin-left: 32px;
    height: 256px;
    display: inline-block;
    padding: 32px;
}

#siennaHewitBoxxx {
    width: 580px;
    border-radius: 12px;
    border: 1px solid #E9EAEB;
    background: #FFF;
    margin-top: 64px;
    margin-left: 32px;
    height: 256px;
    display: inline-block;
    padding: 32px;

}

#newProject {
    color: #181D27;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

#contentP {
    margin-top: 82px;
    vertical-align: middle;
    display: inline-block;
}

#sienna {
    display: inline-block;
    color: #181D27;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    vertical-align: middle;

}

#pphoto {
    vertical-align: middle;
}

#tick {
    margin-left: 4px;
    vertical-align: middle;
}

#project {
    vertical-align: middle;
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#verificationBox {
    vertical-align: middle;
    display: inline-block;
    margin-left: 12px;
}

#phototext {
    display: inline-block;
    margin-left: 120px;
}

#kaitlynkingbox {
    max-width: 580px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #E9EAEB;
    background: #FFF;
    margin-top: 64px;
    margin-left: 32px;
    height: 256px;
    display: inline-block;
    padding: 32px;
}

#essentialPart {
    color: #181D27;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

#caitlynInfo {
    vertical-align: middle;
    display: inline-block;
    margin-left: 12px;
}

#kaitlyn {
    display: inline-block;
    color: #181D27;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    vertical-align: middle;
}

#ppphoto {
    vertical-align: middle;
}

#tickkk {
    margin-left: 4px;
    vertical-align: middle;
}

#cooDeo {
    vertical-align: middle;
    color: #535862;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#phototextt {
    display: inline-block;
    margin-left: 180px;
}

#tickk {
    vertical-align: middle;
    margin: 4px;
}

#kaitlynInfo {
    margin-top: 82px;
    vertical-align: middle;
    display: inline-block;
}

#ollySchro {
    width: 580px;
    border-radius: 12px;
    border: 1px solid #E9EAEB;
    background: #FFF;
    margin-top: 64px;
    margin-left: 32px;
    height: 256px;
    display: inline-block;
    padding: 32px;
}

#projectStarts {
    color: #181D27;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

#ollyInfo {
    margin-top: 82px;
    vertical-align: middle;
    display: inline-block;
}

#rileyBox {
    width: 580px;
    border-radius: 12px;
    border: 1px solid #E9EAEB;
    background: #FFF;
    margin-top: 64px;
    margin-left: 32px;
    height: 256px;
    display: inline-block;
    padding: 32px;
}

#bla {
    color: #181D27;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

#contactP {
    margin-top: 82px;
    vertical-align: middle;
    display: inline-block;
}

#ollyInfo {
    vertical-align: middle;
    display: inline-block;
    margin-left: 12px;
}

#rileyInfo {
    vertical-align: middle;
    display: inline-block;
    margin-left: 12px;
}